body{
    margin: 0;
    font-family: cursive;
}
h1{
    text-align: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.color-container{
    background-color: #ffa500;
    width: 300px;
    height: 120px;
    color: #fff;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    border-radius: 10px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    border: 2px solid #333;
}