body{
    margin: 0;  
    padding: 0;
    font-family: sans-serif;
}
.bg-image{
    width: 100%;
    background: url(./background.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 160%;
}
.container{
    padding: 100px;
}
h1{
    font-size: 50px;                                
}
p{
    color: gray;
}
@media (max-width:500px) {
    .container{
        padding: 10px;
    } 
}